$font-family: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}
$width: 1440px;   
// ex: width:$width;

// @mixin  >  @include (name;)
// $mixedcolor: ;

// >
// linear-gradient (to ... red , green , blue);

// &:hover  (bitta tepa kodga tasir qiladi)
@mixin flexbox{
    display: flex;

}
@mixin text{
    text-decoration: none;
    list-style: none;
}
body{
    max-width: 1920px;
    .nav__main{
        background: #000;
    }
}